
.checkout 
{
    display: flex;
    min-height: 86.7vh;    
    background-color: rgb(187, 187, 187);
    padding-top:100px;
}
.checkout_left
{
    width: 82%;;
}
.checkout_right
{
    width: 15%;
    /* height: 360px; */
    height: max-content;
    background-color: antiquewhite;
    padding:20px;
    text-align: center;

}
button{
    padding:5px;
    background-color: aquamarine;
    cursor: pointer;
    margin-left:0px;
    margin-top: 20px;
    font-weight: bold;
}
.heading
{
    /* margin-left: 60px;; */
    margin:30px;
}
.checkout_right
{
    margin:30px;
    margin-top: 95px;
    /* height: 400px;; */
}
.price-value
{
    margin:15px;
}
.fa-indian-rupee-sign
{
    margin:5px;
}